<div class="main-container">
  <h1>Reconocimiento de números.</h1>
  <hr class="divider"/> 
  <div class="introduction-container">
    <div class="description-container">
      <p>
        Este modelo es capaz de reconocer números escritos a mano, dibujados en el canvas que está en la parte de abajo.
      </p>
      <h3 class="subtitle">
        Las librerías y pasos para el entrenamiento han sido los siguientes:
      </h3>
      <li>
        Se ha utilizado este <a href="https://www.youtube.com/watch?v=aFZEvQDTSyA" target="_blank">video</a> como apoyo para realizar la red neuronal
      </li>
      <li>
        Para el entrenamiento de esta red neuronal, se ha utilizado la librería de código abierto <a href="https://www.tensorflow.org/?hl=es-419" target="_blank">TensorFlow</a>.
      </li>
      <li>
        Se ha utilizado un <a href="https://www.tensorflow.org/datasets/catalog/mnist?hl=es-419" target="_blank">Dataset Mnist</a> que contiene 60.000 imágenes de números escritos a mano de 28x28 pixeles, como se puede visualizar a la derecha.
      </li>
      <li>
        Se ha utilizado una red neuronal convolucional (CNN) para el entrenamiento de este modelo.
      </li>
      <li>
        Se han asignado 5 capas, una con profundidad de 32, otras dos de 64 y otras dos de 128.
      </li>
      <li>
        Nuestro código fuente de este modelo y esta página de presentación, se encuentra en este <a href="https://github.com/brayangiraldo02/ia-models" target="_blank">repositorio de GitHub.</a>
      </li>
    </div>
    <div class="datasets-image-container">
      <img src="../../../assets/img/datasets-numbers.jpg" alt="emnist"/>
    </div>
  </div>
  <hr class="divider" /> 
  <div class="main-container-canva">
    <div id="canvas-container">
        <canvas id="canvas-model1" width="280" height="280"></canvas>
    </div>
    <canvas id="hidden-canvas-model1" width="28" height="28" style="display:none;"></canvas>
    <div class="result">{{resultado}}</div>
  </div>  
</div>
