<div class="main-container">
  <div class="controls">
    <button (click)="takeSnapshot()">Tomar Foto</button>
    <button (click)="toggleWebcam()">Activar/Desactivar Webcam</button>
  </div>
  <div class="content">
    <div class="image-container">
      <div class="webcam-container">
        <webcam *ngIf="showWebcam"
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)">
        </webcam>
        <div class="overlay"></div>
      </div>
      <div class="images-container">
        <div class="images">
          <div *ngIf="webcamImage" class="image">
            <img [src]="webcamImage.imageAsDataUrl"/>
          </div>
          <div *ngIf="processedImageUrl" class="image">
            <img [src]="processedImageUrl"/>
          </div>
        </div>
      </div>
      
    </div>
    <div *ngIf="imageText" class="api-response">
      <h3>{{ imageText }}</h3>
    </div>
  </div>
</div>
